import { Prop } from '@nestjs/mongoose';
import { <%= softDelete ? 'SoftDeletableEntity' : 'BaseEntity' %>, DynamicApiSchema } from 'mongodb-dynamic-api';

@DynamicApiSchema({ collection: '<%= dasherize(name) %>' })
export class <%= classify(name) %> extends <%= softDelete ? 'SoftDeletableEntity' : 'BaseEntity' %> {
  // TODO: declare your entity's fields here, e.g.:
  // @Prop({ type: String, required: true })
  // title: string;
}
